---
layout: single
author_profile: false
classes:
  - landing
  - dark-theme
header:
  overlay_image: /assets/images/DesignRegretConfess.jpg
  caption: AI-generated image of people expressing shame next to the "Design Regret Confess" Truck.
  overlay_filter: 0.0
  image_description: "Workshop header image"
title: false
---

<style>
.page__hero--overlay {
  min-height: 600px;
  height: auto;
}

.page__hero--overlay .wrapper {
  padding-top: 3em;
  padding-bottom: 3em;
  display: none;
}

/* 반응형 디자인 적용 */
@media (max-width: 768px) {
  .page__hero--overlay {
    min-height: 300px;
  }
  
  .page__hero--overlay .wrapper {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

@media (max-width: 480px) {
  .page__hero--overlay {
    min-height: 200px;
  }
  
  .page__hero--overlay .wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
</style>

<div class="archive"> 
  <h1>Mindful	Value Creation and Destruction	</h1>
  <p>Unpacking the Complexity of Design Practice in Human-Data Interaction </p>


  <p style="text-align:left; font-size:1.7em; margin:2em 0; font-style: italic; font-weight: 300; line-height: 1.2;">
    Design doesn't always solve.<br>
    Sometimes it deceives.<br>
    Sometimes it harms.<br>
    Sometimes the cost is hidden in the process.
  </p>

  <p>
  <b>This full-day workshop</b> aims to deepen our understanding of the complexities of design practice in relation to value creation and destruction within Human-Data Interaction. We will explore how design decisions shape particular versions of reality and navigate inherent value conflicts, while envisioning the future of mindful value destruction in human data interaction.
  </p>
  <p>
  The session will be highly participatory and immersive. You share personal narratives involving catastrophic oversights, design failures, ethical dilemmas, and overlooked consequences in human-data interaction. Together, we will reshape the meaning and way of value creation and destruction, transform insights into forward-thinking and provocative concepts, and engage in collective discussion.
  </p>
  <p>
  If this sounds like your kind of challenge, please send a 1- to 2-page position paper or case studies, outlining your experience with data-driven value destruction in design research or projects to b.l.lee@exeter.ac.uk by 20th. June. 2025 (TBD).  
  </p>

  
<small>
  

</small>

{% include cfp.html %}

{% include people.html %}


</div>
