<h2>People</h2>
<style>
.people-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  margin: 2em 0;
}
.person {
  text-align: center;
  width: 240px;
}
.person img {
  width: auto;
  height: 280px;
  max-width: 240px;
  object-fit: contain;
  margin-bottom: 0.6em;
}
.person .name {
  font-weight: 300;
  font-size: 1.2em;
  color: #fff;
}
</style>
<div class="people-cards">
  <div class="person">
    <img src="/assets/images/Boyeun_Lee.png" alt="Boyeun Lee">
    <div class="name">Boyeun Lee</div>
  </div>
  <div class="person">
    <img src="/assets/images/Leah_Chong.png" alt="Leah Chong">
    <div class="name">Leah Chong</div>
  </div>
  <div class="person">
    <img src="/assets/images/Michael_Stead.png" alt="Michael Stead">
    <div class="name">Michael Stead</div>
  </div>
  <div class="person">
    <img src="/assets/images/Jongmo_Kim.png" alt="Jongmo Kim">
    <div class="name">Jongmo Kim</div>
  </div>
  <div class="person">
    <img src="/assets/images/Chris_Speed.png" alt="Chris Speed">
    <div class="name">Chris Speed</div>
  </div>
</div>